@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffc538;
  --red: #fb778b;
  --green: #5ab7ac;
  --black: #121212;
  --grey: #cbcadad9;
  --ff-comfortaa: "Comfortaa", cursive;
  --ff-oswald: "Oswald", sans-serif;
}

body {
  background-color:rgb(211, 218, 173);
  font-family: var(--ff-comfortaa);
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.container {
  /* width: 100vh; */
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  background-color: ;
}

.tkm-game {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.yazi {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

.icon{
  font-size: 50px;
  text-align: center;
}

/** --------- SCORE-CARD --------- */
.score-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 10px 1px;
  color: var(--grey);
  border-radius: 5px;
  padding: 0.5rem;
  background-color:#6e9b93
}
.score-card .top {
  font-family: var(--ff-oswald);
  color: var(--black);
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.score-card .score {
  color: var(--grey);
  font-size: 1.8rem;
}

.score-card .description {
  width: 90%;
  color: var(--grey);
  margin: 1rem 0;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--grey);
  text-align: center;
}

/** --------- IMAGES --------- */
.selection {
  display: flex;
  gap: 0.8rem;
}
.selection img {
  width: 80px;
  border-radius: 50%;
}
.selection img:hover {
  box-shadow: 0px 5px 20px var(--grey);
  cursor: pointer;
}

/** --------- CHOICES --------- */
.choice-section {
  margin-top: 3rem;
  text-align: center;
}

.choice-section img {
  border-radius: 50%;
  width: 60%;
}

.choices {
  display: flex;
  justify-content: center;
}
/*? RESULT  */
.message {
  font-family: "Oswald", sans-serif;
  margin-top: 1.5rem;
  padding: 1rem 0;
  transition: all 0.5s ease;
  text-align: center;
  color: white;
}

/** --------- MODAL-CARD --------- */
.modal-card {
  display: none;
  width: 90%;
}
.modal-card.show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.modal {
  background-color: var(--red);
  text-align: center;
  padding: 2rem 3rem;
  width: 500px;
  max-width: 100%;
  font-size: 1.5rem;
  border-radius: 20px;
}
.modal button {
  font-family: var(--ff-comfortaa);
  font-size: 1.3rem;
  color: var(--red);
  border: none;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.modal button:hover {
  transform: translate(3px, 0px);
  transition: all 0.5s;
  background-color: var(--black);
}
